doctype html
html
  head
  meta(name='Viewport',content='width'=device-'width,initalscale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel="stylesheet",href='/stylesheet/style-css')
  body
    block content
    script(src='/javascript/jquery=1.11.11min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
